In [1]:
import pandas as pd

In [11]:
file = "NAEPData.csv"

In [12]:
naepdata = pd.read_csv(file)
naepdata.head()

       Subject  Grade  Year Jurisdiction    atabPro
0  Mathematics      4  2003    Minnesota  41.767158
1  Mathematics      4  2005    Minnesota  47.256978
2  Mathematics      4  2007    Minnesota  50.589193
3  Mathematics      4  2009    Minnesota  53.822130
4  Mathematics      4  2011    Minnesota  52.933926

In [13]:
naep_db = naepdata.rename(columns={"atabPro": "At or Above Proficient"})
naep_db["At or Above Proficient"]=naep_db["At or Above Proficient"].map("{:.2f}%".format)
naep_db.head()

       Subject  Grade  Year Jurisdiction At or Above Proficient
0  Mathematics      4  2003    Minnesota                 41.77%
1  Mathematics      4  2005    Minnesota                 47.26%
2  Mathematics      4  2007    Minnesota                 50.59%
3  Mathematics      4  2009    Minnesota                 53.82%
4  Mathematics      4  2011    Minnesota                 52.93%

In [19]:
naep_db.to_html("NAEPData.html", header=True, index=False, justify="center")